<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1>Boas-Vindas!</h1>
      <p>
        Sou Joyce Madalena, desenvolvedora front-end especializada em criar
        interfaces modernas, acessíveis e bem estruturadas, conectando design e
        tecnologia para entregar experiências digitais funcionais, consistentes
        e centradas no usuário.
      </p>
      <a
        href="assets/cv/Currículo-JoyceMadalena.pdf"
        class="btn-primary"
        download
      >
        Baixar currículo
      </a>
    </div>

    <div class="hero-image">
      <img src="assets\images\joyceup.jpeg" alt="Foto de Joyce Madalena" />
    </div>
  </div>
</section>
