<section class="skills" id="skills">
  <div class="container">
    <h2 class="section-title">Habilidades</h2>

    <div class="skills-grid">
      <div class="skill">
        <img src="assets/images/html.png" alt="HTML5" />
        <span>HTML5</span>
      </div>

      <div class="skill">
        <img src="assets/images/css.png" alt="CSS3" />
        <span>CSS3</span>
      </div>

      <div class="skill">
        <img src="assets/images/js.png" alt="Js" />
        <span>JavaScript</span>
      </div>

      <div class="skill">
        <img src="assets/images/figma.png" alt="JavaScript" />
        <span>Figma</span>
      </div>

      <div class="skill">
        <img src="assets/images/ghost.jpg" alt="Figma" />
        <span>Ghost</span>
      </div>

      <div class="skill">
        <img src="assets/images/ts.png" alt="Typescript" />
        <span>Typescript</span>
      </div>

      <div class="skill">
        <img src="assets/images/tailwind.png" alt="Tailwind" />
        <span>Tailwind</span>
      </div>

      <div class="skill">
        <img src="assets/images/react.png" alt="React" />
        <span>React</span>
      </div>

      <div class="skill">
        <img src="assets/images/handlebars.jpg" alt="Strapi" />
        <span>handlebars</span>
      </div>
    </div>
  </div>
</section>
